/*html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 2px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Navbar colour scheme */
.navbar {
    background-color: #4cff00;
    border-color: #701f00;
}

.navbar .navbar-brand {
    color: #a44006;
}

.navbar .navbar-brand:hover{
    background-color: #701f00;
}

.navbar .nav li a:hover {
    background-color: #701f00;
}

.navbar .nav {
    background-color: #4cff00;
    
}

.navbar .nav li a {
    color: #a44006;
}

.brandName {
    color: #a44006;
}

#slideshowBrandName{
    font-size: larger;
    font-weight: bold;
}

.tagline{
    font-size: smaller;
}



/* Slideshow */


.headline {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: xx-large;
    
    background-color: rgba(76, 255, 0, 0.7);
    margin-left: -1px;
}

.mySlides {
    margin-top: 8px;
    min-height: 400px;
    max-height: 400px;
    min-width: 900px;
    max-width: 900px;
    position: center;
    object-fit:cover;
    
}

.w3-animate-fading {
    animation: fading 5s infinite
}

@keyframes fading {
    0% {
        opacity: 0.1
    }

    50% {
        opacity: 0.7
    }

    100% {
        opacity: 0.1
    }
}

/*WoodULike Projects Page*/
.projectList {
    background-color: rgba(76, 255, 0, 0.7);
    border: 1px thick black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
   
}

.projectList:hover {
    background-color: rgba(164, 64, 6, 0.7);
    color: white;
}


.listingTitle{
    font-weight: bold;
    font-size: larger;
    padding: 0px 0px 0px 10px;
    margin-top: -5px;
}

.listingDetail {
    font-size: smaller;
    padding: 0px 0px 0px 10px;
}


#imageContainer img {
    width: 400px;
    height: 250px;
    
    object-fit: cover;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: -4px;
}

.projectTitleSpan{
font-weight: normal;
}








