@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    32 Wilson Gardens<br />
    Weston-Super-Mare<br />
    BS24 7GN<br />
    <abbr title="Phone">P:</abbr>
    +44 7788 864017
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:blueboy@ebay.co.uk">blueboy@ebay.co.uk</a><br />
    
</address>